<div id="users-show" class="container-default c-1200">
  <h1>Account Dashboard</h1>
  <p class="welcome">Welcome <%= "#{current_user.first_name} #{current_user.last_name}" %>, what would you like to do ?</p>
  <div class="dashboard">
    <%= link_to edit_user_registration_path, class: "dashboard-card" do %>
      <i class="fa-regular fa-address-card"></i>
      <h3>Edit your profile</h3>
      <p>Let us know more about you by providing personnal details</p>
    <% end %>

    <%= link_to user_security_path, class: "dashboard-card" do %>
      <i class="fa-solid fa-shield-halved"></i>
      <h3>Login & security</h3>
      <p>Update your password & security settings</p>
    <% end %>

    <%= link_to user_path, class: "dashboard-card" do %>
      <i class="fa-solid fa-handshake-simple"></i>
      <h3>View your bookings</h3>
      <p>Access a listing of all your bookings and edit them</p>
    <% end %>

    <%= link_to user_path, class: "dashboard-card" do %>
      <i class="fa-regular fa-rectangle-list"></i></i>
      <h3>View your Arts</h3>
      <p>Access a list of all your current offers</p>
    <% end %>

    <%= link_to user_path, class: "dashboard-card" do %>
      <i class="fa-solid fa-paintbrush"></i>
      <h3>Share new Art</h3>
      <p>Create a new listing to share with the world</p>
    <% end %>
  </div>

  <div class="delete">
    <h3>Delete your account</h3>
    <div>
      <p>Click the following link if you want to delete your account</p>
      <%= link_to "Delete", registration_path(:user), class: "btn-default btn-gold", data: { "turbo-method": :delete } %>
    </div>
  </div>
</div>
