<div id="passwords-new" class="container-default c-1200">
  <h2>Forgot your password?</h2>

  <%= form_with model: resource, scope: resource_name, url: session_path(resource_name), method: :post, data: { turbo: false }, id: "sessions__form" do |f|  %>
    <h3>Reset your password</h3>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <%= f.submit "Send me reset password instructions", class: "btn-default btn-gold" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
