<div class= "description">
  <h3>Discover us</h3>

  <nav>
    <%= link_to "Why chose us", arts_path %>
    <%= link_to "Our Art Pieces", arts_path %>
    <%= link_to "Top Rated", arts_path %>
    <%= link_to "Client reviews", arts_path %>
    <%= link_to "Contact Us", arts_path %>
  </nav>
</div>

<a class= "icon" href="https://github.com/wJoenn/rentart"><i class="fa-brands fa-github fa-4x"></i></a>
