<footer>
  <div class='wrapper'>
      <div class='col-1 first'>
        <h3>Company</h3>
        <ul>
          <li><%= link_to "About Us", arts_path %></li>
          <li><%= link_to "Contact Us", arts_path %></li>
        </ul>
      </div>
      <div class='col-1'>
        <h3>Discover</h3>
        <ul>
          <li><%= link_to "Why chose us", arts_path %></li>
          <li><%= link_to "Our Art Pieces", arts_path %></li>
          <li><%= link_to "Top Rated", arts_path %></li>
          <li><%= link_to "Client reviews", arts_path %></li>
        </ul>
      </div>
      <div class='col-1'>
        <h3>Rent your Art</h3>
        <ul>
          <li><%= link_to "Why Rent", arts_path %></li>
          <li><%= link_to "Responsable Renting", arts_path %></li>
          <li><%= link_to "Instant Book", arts_path %></li>
        </ul>
      </div>
  </div>
</footer>
