<nav id="header-navbar">
  <div id="rentart-btn">
    <%= link_to "Rentart", arts_path %>
    <span>.</span>
  </div>

  <%= form_with url: arts_path, method: :get, class: "max-content" do %>
    <%= text_field_tag :search,
      params[:search],
      placeholder: "Find an art piece"
    %>
    <%= button_tag class: "btn-gold" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>

  <div class="navbar-right">
    <div class="dropdown" data-controller="dropdown-menu">
      <% if current_user && current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar", data: { action: "click->dropdown-menu#toggleMenu", "dropdown-menu-target": "button" } %>
      <% else %>
        <%= image_tag "mona_lisa.jpg", class: "avatar", data: { action: "click->dropdown-menu#toggleMenu", "dropdown-menu-target": "button" } %>
      <% end %>

      <div class="menu height-0" data-dropdown-menu-target="menu">
        <div class="options"  data-dropdown-menu-target="options">
          <%= link_to root_path, id: "home", data: { item: "Home" } do %>
            <i class="fa-solid fa-house"></i>
          <% end %>

          <div class="user">
            <% if current_user %>
              <h5>Hello <%= current_user.first_name %></h5>
              <%= link_to "User account", user_path, class: "option" %>
              <%= link_to "Log out", destroy_user_session_path, class: "option", data: { "turbo-method": :delete } %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "option" %>
              <%= link_to "Log in", user_session_path, class: "option" %>
            <% end %>
          </div>

          <%= link_to "See the Arts", arts_path, class: "option" %>
          <%= link_to 'Create an art listing', "/arts/building/build", data: { "turbo-method": :post }, class: "option" %>
        </div>
      </div>
    </div>
  </div>
</nav>
