<nav id="header-navbar">
  <div id="btn-home">
    <%= link_to "Rentart", root_path %>
    <span>.</span>
  </div>

  <%= link_to "rent a piece", arts_path, data: {item: "rent a piece"} %>

  <%= form_with url: "#", class: "max-content" do |form| %>
    <%= form.text_field :search, placeholder: "What are you looking for ?" %>
    <%= form.submit "Search", class:"btn-gold btn-default max-content" %>
  <% end %>

  <%# Dropdown avatar %>
  <div class="dropdown" data-controller="dropdown-menu">
    <button type="button" data-dropdown-menu-target="button" data-action="click->dropdown-menu#toggleMenu" class="btn-drop" aria-haspopup="true" aria-expanded="true">
    </button>

    <div class="menu-options hidden" data-dropdown-menu-target="menu">
      <div>
        <div class="options" role="menu" aria-orientation="vertical">
          <%= link_to "See all pieces of art", arts_path, role: "menuitem", class: "option" %>
          <button type="submit" class="btn-gold" role="menuitem">
            <% if current_user %>
              <%= link_to "log out", destroy_user_session_path %>
            <% else %>
              <%= link_to "log in", user_session_path %>
            <% end %>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
