<nav>
  <%= link_to root_path do %>
    <%= image_tag "artify_logo.png", class: "logo" %>
  <% end %>
  <%= link_to "rent a piece", arts_path %>
  <%= render "shared/form" %>

  <%# Dropdown avatar %>
  <div class="dropdown" data-controller="dropdown-menu">
    <button type="button" data-dropdown-menu-target="button" data-action="click->dropdown-menu#toggleMenu" class="btn-drop" aria-haspopup="true" aria-expanded="true">
    </button>

    <div class="menu-options hidden" data-dropdown-menu-target="menu">
      <div>
        <div class="options">
          <%= link_to "See all pieces of art", arts_path, class: "option" %>
          <button type="submit" class="btn-gold max-content">
            <% if current_user %>
              <%= link_to "log out", destroy_user_session_path, data: { "turbo-method": :delete } %>
            <% else %>
              <%= link_to "log in", user_session_path %>
            <% end %>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
