<nav id="header-navbar">
  <div id="btn-home">
    <%= link_to "Rentart", root_path %>
    <span>.</span>
  </div>

  <%= link_to "rent a piece", arts_path, data: {item: "rent a piece"} %>

  <%= form_with url: "#", class: "max-content" do |form| %>
    <%= form.text_field :search, placeholder: "What are you looking for ?" %>
    <%= form.submit "Search", class:"btn-gold btn-default max-content" %>
  <% end %>
  <%= link_to "rent a piece", arts_path %>
  <%# <%= render "shared/form" %> %>

  <div class="dropdown">
    <%= image_tag "avatar.png", id: "dropdown" %>
  </div>
</nav>
