<nav id="header-navbar">
  <div id="btn-home">
    <%= link_to "Rentart", arts_path %>
    <span>.</span>
  </div>

  <%= form_with url: "#", class: "max-content" do |form| %>
    <%= form.text_field :search, placeholder: "What are you looking for ?" %>
    <%= button_tag class:"btn-gold btn-default max-content" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>

  <div class="navbar-right">
    <%= link_to "Home", root_path, data: { item: "Home" } %>
    <div class="dropdown">
      <% if current_user && current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar" %>
      <% else %>
        <%= image_tag "mona_lisa.jpg", class: "avatar" %>
      <% end %>
    </div>
  </div>
</nav>
