<div class="container-1200">

  <div class="banner">
    <div class="titles">
      <h3>Welcome to</h3>
      <h1>Rentart.</h1>
      <h3>Do you want to rent the Mona Lisa for a day?</h3>

      <div class="btn-index">
        <%= link_to "Book a piece of art", arts_path, class: "btn-gold" %>
      </div>
    </div>

    <div>
      <%= image_tag "home_page_painting", class: "banner-painting" %>
    </div>
  </div>

  <div class="sign-in">
    <h2>Not registered yet?</h2>
    <p>render "devise/registrations/form"</p>
    <%= image_tag "sign_up", class: "sign-up-img" %>
  </div>

  <div class="categories">
    <h2>Find by category</h2>

    <div class="category-cards">
      <div class="card-category">
        <%= image_tag "https://source.unsplash.com/random", class: "category-image" %>
        <div class="card-infos">
          <h3><%= link_to "Paintings", root_path, class: "text-category-card" %></h3>
        </div>
      </div>

      <div class="card-category">
        <%= image_tag "https://source.unsplash.com/random", class: "category-image" %>
        <div class="card-infos">
          <h3><%= link_to "Sculptures", root_path, class: "text-category-card" %></h3>
        </div>
      </div>

      <div class="card-category">
        <%= image_tag "https://source.unsplash.com/random", class: "category-image" %>
        <div class="card-infos">
          <h3><%= link_to "Instalations", root_path, class: "text-category-card" %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
