<div id="arts-show" class="container-default c-1200">
  <div class="header">
    <div class="header-content">
      <h1><%= @art.title %></h1>
      <p><%= @art.location %></p>
    </div>

    <%= link_to art_path(@art), class: "header-like" do %>
      <i class="fa-regular fa-heart"></i>
      <span>Save</span>
    <% end %>
  </div>

  <div class="photos">
    <%= cl_image_tag @art.photos.first.key, class: "photo" %>

    <div class="photos-secondary">
      <% @art.photos.drop(1).each do |photo| %>
        <%= cl_image_tag photo.key, class: "photo" %>
      <% end %>
    </div>
  </div>

  <div class="main">
    <div class="details">
      <div class="user">
        <h2><%= "#{ @art.category.name } proposed by #{ @art.user.first_name }" %></h2>
        <% if @art.user.photo.attached? %>
          <%= cl_image_tag @art.user.photo.key, class: "avatar" %>
        <% else %>
          <%= image_tag "mona_lisa.jpg", class: "avatar" %>
        <% end %>
      </div>

      <div class="description">
        <p><%= @art.description %></p>
      </div>
    </div>

    <div class="booking" data-controller="booking-form-price">
      <%= form_with model: [@art, @booking] do |f| %>
        <h3>Book now</h3>


        <% if @booked %>
          <div class="alert">
            <p style="color: lightgrey">Your booking has been sucessfully registered</p>
          </div>
        <% elsif @booked == false %>
          <div class="alert">
            <p>Your booking wasn't registered</p>
          </div>
        <% end %>

        <%= f.hidden_field :price, value: @art.price, data: { "booking-form-price-target": "price" }%>


        <div class="form-field">
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>

        <div class="form-group">
          <div class="form-field">
            <%= f.label "From" %>
            <%= f.date_field :start_date, min: Date.today, onkeydown: "return false", data: { "booking-form-price-target": "startDate", action: "change->booking-form-price#enabledEndDateField change->booking-form-price#updatePrice" } %>
          </div>

          <div class="form-field">
            <%= f.label "To" %>
            <%= f.date_field :end_date, disabled: true, onkeydown: "return false", data: { "booking-form-price-target": "endDate", action: "change->booking-form-price#updatePrice" } %>
          </div>
        </div>

        <%= f.submit "Confirm", class: "btn-default btn-gold" %>

        <div class="price-summary">
          <p>Price per day:<span><%= @art.price.round(2) %>€/day</span></p>
          <p>Number of days:<span data-booking-form-price-target="days"></span></p>
          <p id="total">Total:<span data-booking-form-price-target="field">€</span></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
